[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/dyredhead/.local/bin/login.sh
GenericName[en_US]=
GenericName=
Icon=application-x-shellscript
MimeType=
Name[en_US]=login.sh
Name=login.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
